@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --success-color: #2ecc71;
    --error-color: #e74c3c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

label {
    font-size: 30px;
}

.page-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(243, 243, 243)
}

.container  {
    background: #fff;
    width: 600px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 3px #ccc;
    padding: 3rem 4rem;
    display: flex;
    flex-direction: column;
}

.container h1 {
    text-align: center;
}

.container .fields {
    margin-top: 2rem;
}

small {
    margin-bottom: 2rem;
    display: block;
}

.container .fields input {
    margin-top: 0.8rem;
    height: 3rem;
    width: 100%;
    font-size: 1.5rem;
    padding: 0 1rem;
    border-radius: 5px;
    border: 3px solid #f0f0f0;
}

.container .fields input:focus {
    outline: 0;
    border-color: #777;
}

.container .fields input[type="submit"] {
    display: block;
    background: rgb(19, 121, 236);
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}

.container .fields input[type="submit"]:hover {
    opacity: 0.9;
}

/* This part of for the JS */
.form-control.success input {
    border-color: var(--success-color)
}

.form-control.error input {
    border-color: var(--error-color);
}

.form-control small {
    color: var(--error-color);
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}