@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

p {
    font-size: 30px;
}

.page-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(243, 243, 243)
}

.container  {
    background: #fff;
    width: 600px;
    height: 800px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 3px #ccc;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
}

.container h1 {
    text-align: center;
}

.container .fields {
    margin-top: 2rem;
}


.container .fields input {
    margin-top: 0.8rem;
    margin-bottom: 3rem;
    height: 3rem;
    width: 100%;
    font-size: 1.5rem;
    padding: 0 1rem;
    border-radius: 5px;
}

.container .fields input[type="submit"] {
    display: block;
    background: rgb(19, 121, 236);
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}

.container .fields input[type="submit"]:hover {
    opacity: 0.9;
}
